*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

body{
    font-family: 'Open Sans', sans-serif;
}
header{
   width: 100%;
   background: #000;
   display: flex;
}
.header_logo{
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 56px;
    margin-left: 12%;
}
nav{
    margin-top: 56px;
    margin-left: 29%;
}
.topnav a{
    color: #fff;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
}
.topnav a:hover{
    border-bottom: 3px solid #fcac45;
}
.topnav .icon{
    display: none;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
main .main_Welcome{
    background: #000;
    text-align: center;
    padding: 200px 0 410px 0;
}
main .main_Welcome h1{
    color: #999999;
    font-size: 66   px; 
}
main .main_Welcome h3{
    color: #999999;
    font-size: 20px;
}